#macro(web_common_top)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>M&M Story</title>
	<link rel="stylesheet" href="/mnm/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/mnm/bootstrap/css/bootstrap-theme.min.css">
	<script src="/mnm/js/jquery-1.11.3.js"></script>
	<script src="/mnm/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">M&M Story</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="ID" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
#end


#macro(web_common_footer)

      <!-- footer-->
      <hr>

      <footer>
        <p>&copy; M&M 2015</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>
#end